@import "https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "bootstrap.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "scss/header";
@import "scss/main_page";
@import "scss/aio_immunity";
@import "scss/products";
@import "scss/vitamins";
@import "scss/social_networks";
@import "scss/footer";
@import "scss/about_us";
@import "scss/contacts";
@import "scss/imprints";
@import "scss/privacy_policy";
@import "scss/checkout_sign";
@import "scss/About_lines";
@import "scss/overall_page";
@import "scss/advanced_page";
@import "scss/Product_page";
@import "scss/Checkout_guest";
@import "scss/Personal_account";
@import "scss/Account_details";

$main_font: 'Inter', sans-serif;
$secondary_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #191A1C;
$grey: #393D46;
$light_grey: #5F6C81;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.container {
  max-width: 1440px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 97% !important;
}

.modal {
  @include max-screen(428px) {
    left: 24px;
  }

  .sign_in {
    width: 400px;
    margin-bottom: 15px;
    height: 48px;
    background: #393D46;
    border: 1px solid #9C9EA3;
    @include max-screen(428px) {
      width: 324px;
    }
    @include max-screen(390px) {
      width: 293px;
    }
    @include max-screen(360px) {
      width: 266px;
    }
  }

  .create {
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #9C9EA3;
    color: $black;
    @include max-screen(428px) {
      width: 324px;
    }
    @include max-screen(390px) {
      width: 293px;
    }
    @include max-screen(360px) {
      width: 266px;
    }
  }

  #exampleInputEmail1 {
    max-width: 400px;
  }

  #exampleInputPassword1 {
    max-width: 400px;
  }

  .modal-content {
    width: 87%;

    .close {
      span {
        color: black !important;
        font-size: 26px;
      }
    }
  }

  .first_name {
    width: 400px;
    margin-left: -15px;
  }

  .last_name {
    width: 400px;
    margin-left: -15px;
  }

  .already {
    margin-left: 27%;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #191A1C;
  }

  .forgot {
    margin-left: 29%;
    color: $black;
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: right;
    @include max-screen(428px) {
      margin-left: 12%;
    }
    @include max-screen(390px) {
      margin-left: -8%;
      display: flex;
      margin-top: 10px;
    }
  }
}


.table-image {
  thead {
    td, th {
      border: 0;
      color: #666;
      font-size: 0.8rem;
    }
  }

  td, th {
    vertical-align: middle;
    text-align: center;
    border-top: none;

    &.qty {
      max-width: 2rem;
    }
  }
}

.price {
  margin-left: 1rem;
}

.modal-footer {
  padding-top: 0;

  .btn-success {
    width: 402px;
    height: 48px;
    background: #393D46;
    padding-top: 13px;
    border-color: #393D46;
  }
}

.qty1 {
  position: relative;
  left: 99px;
  bottom: 102px;
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: rgba(57, 61, 70, 0.6);
  @include max-screen(428px) {
    left: 68px;
  }
}

.close {
  span {
    color: black;
    font-size: 26px;
  }
}

.shop_modal {
  padding-right: 0 !important;
  padding-left: 1056px;
  @include max-screen(1024px) {
    padding-left: 0 !important;
  }
  @include max-screen(428px) {
    padding-left: 0 !important;
  }

  .prices_modal {
    display: grid;
    padding-right: 9px;
  }

  .pl-29 {
    padding-left: 29px;
  }

  .pl-37 {
    padding-left: 37px;
  }

  h4 {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 120%;
    color: #191A1C;
  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #393D46;
  }

  .shop {
    position: relative;
    background: #42E8FF;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    right: 7px;
  }

  span {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    left: 6px;
    bottom: 0;
    color: white;
  }

  .modal-body {
    p {
      font-family: $main_font;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 120%;
      color: #393D46;

    }

    .safari_only {
      position: relative !important;
      left: 33% !important;
      top: 142px !important;
    }

    .steps_buttons {
      position: relative !important;
      left: 33% !important;
      top: 332px !important;
    }

    .main_price {
      position: relative;
      bottom: 37px;
      @include max-screen(428px) {
        right: 15px;
      }
      @include max-screen(390px) {
        right: 58px;
      }
      @include max-screen(360px){
        right: 87px;
      }
    }

    .line-through {
      position: relative;
      bottom: 148px;
      left: 304px;
      @include max-screen(428px) {
        left: 262px;
      }
      @include max-screen(390px) {
        left: 220px;
      }
      @include max-screen(360px) {
        left: 190px;
      }
    }

    .minus_price {
      position: relative;
      bottom: 129px;
      left: 152px;
      color: orangered;
      @include max-screen(428px) {
        left: 135px;
      }
      @include max-screen(390px) {
        left: 91px;
      }
      @include max-screen(360px){
        left: 64px!important;
      }
    }

    .trash {
      position: relative;
      bottom: 106px;
      left: 22px;
      @include max-screen(428px) {
        left: 4px;
      }
      @include max-screen(390px) {
        left: -39px;
      }
      @include max-screen(360px){
        left: -67px;
      }
    }

    .orange_prices {
      color: orangered;
    }
  }

  .zink {
    padding-bottom: 89px !important;
    padding-right: 155px !important;
  }

  .vitamine {
    padding-bottom: 89px !important;
    padding-right: 114px !important;
    @include max-screen(428px) {
      width: 324px;
      padding-right: 110px !important;
    }
  }

  tbody {
    td {

      font-family: $main_font;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      color: #393D46;
    }
  }
}


.navbar-toggler {
  @include max-screen(820px) {
    margin-left: 88%;
  }
  @include max-screen(768px) {
    margin-left: 74%;
  }
}






