$main_font: 'Inter', sans-serif;
$secondary_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #191A1C;
$grey: #393D46;
$light_grey: #5F6C81;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.about_us {
  padding-top: 119px;
  padding-bottom: 163px;
  @include max-screen(428px) {
    .d-flex {
      display: list-item !important;
    }
  }

  h1 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.6px;
    color: #393D46;
    padding-left: 90px;
    @include max-screen(428px) {
      padding-left: unset;
    }
    @include max-screen(414px){
      font-size: 35px;
    }
    @include max-screen(390px){
      font-size: 33px;
    }
    @include max-screen(375px){
      font-size: 30px;
    }
    @include max-screen(360px){
      font-size: 29px;
    }
    @include max-screen(320px){
      font-size: 25px;
    }
  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #5F6C81;
    max-width: 409px;
    padding-left: 90px;
    @include max-screen(428px) {
      padding-left: unset;
      width: 370px;
    }
    @include max-screen(390px){
      width: 346px;
    }
    @include max-screen(375px){
      width: 342px;
    }
    @include max-screen(360px){
      width: 328px;
    }
    @include max-screen(320px){
      width: 285px;
    }
  }

  img {
    padding-left: 32px;
    max-width: 662px;
    @include max-screen(1024px) {
      width: 520px;
    }
    @include max-screen(820px) {
      width: 442px;
    }
    @include max-screen(768px) {
      width: 410px;
    }
    @include max-screen(428px) {
      padding-left: unset;
      width: 400px;
    }
    @include max-screen(414px) {
      width: 395px;
    }
    @include max-screen(390px){
      width: 361px;
    }
    @include max-screen(375px){
      width: 355px;
    }
    @include max-screen(360px){
      width: 342px;
    }
    @include max-screen(360px){
      width: 304px;
    }
  }
}