$main_font: 'Inter', sans-serif;
$secondary_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #191A1C;
$grey: #393D46;
$light_grey: #5F6C81;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.main_page_about_lines {
  padding-bottom: 170px;

  .container {
    background-image: url("../images/Overall.jpg");
    height: 629px;

  }

  .buy {
    width: 200px;
    height: 52px;
    background-color: transparent;
    border: 1px solid #393D46;
    margin-top: 60px;
    margin-left: 85px;
    color: black;
    padding-top: 15px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: white;
      transition: 0.5s;
    }

    @include max-screen(320px) {
      margin-left: 45px;
    }
  }

  .main_headline {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 82px;
    line-height: 102%;
    color: #191A1C;
    margin-top: 169px;
    margin-left: 85px;
    @include max-screen(428px) {
      margin-left: 0;
    }
  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #191A1C;
    width: 424px;
    margin-top: 20px;
    margin-left: 85px;
    @include max-screen(428px) {
      margin-left: 0 !important;
      width: 409px;
    }
    @include max-screen(414px) {
      margin-left: 0;
      width: 399px;
    }
    @include max-screen(390px) {
      width: 344px;
    }
    @include max-screen(320px) {
      width: 290px;
    }
  }
}

.overall {
  img {
    @include max-screen(768px) {
      width: 94% !important;
    }
    @include max-screen(428px) {
      width: 100% !important;
    }
  }

  .first-line {
    margin-top: 120px;
    margin-left: 10px;
    @include max-screen(820px) {
      margin-top: 12px;
    }
    @include max-screen(428px) {
      margin-left: 20px;
    }
    @include max-screen(414px) {
      margin-left: 12px;
    }
    @include max-screen(390px) {
      margin-left: 3px;
    }
  }

  .mb-10 {
    margin-bottom: 10px;
  }

  .first-img {
    @include max-screen(1024px) {
      position: relative;
      bottom: 108px;
      left: 27%;
    }
    @include max-screen(820px) {
      position: relative;
      bottom: 0;
      left: 0%;
    }
    @include max-screen(768px) {
      bottom: 686px;
      left: 97%;
    }
    @include max-screen(428px) {
      bottom: 0;
      left: 0;
    }
  }

  .second-img {
    @include max-screen(1024px) {
      position: relative;
      bottom: 471px;
      left: 130%;
    }
    @include max-screen(820px) {
      position: relative;
      bottom: 0;
      left: 0%;
    }
    @include max-screen(768px) {
      bottom: 685px;
      left: 97%;
    }
    @include max-screen(428px) {
      bottom: 0;
      left: 0;
    }
  }

  h1 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.6px;
    color: #393D46;
    margin-left: 65px;
    @include max-screen(428px) {
      margin-left: 10px;
    }
  }

  p {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #5F6C81;
    max-width: 550px;
    margin-left: 52px;
    @include max-screen(428px) {
      margin-left: 0px;
    }
  }

  .mock_up {
    margin-top: 120px;
    margin-left: 71px;
    @include max-screen(428px) {
      margin-left: 0;
    }
  }
}

.advanced {
  padding-top: 200px;

  .container {
    background-image: url("../images/advanced_pink.jpg");
    height: 629px;
  }

  .buy {
    width: 200px;
    height: 52px;
    background-color: transparent;
    border: 1px solid #393D46;
    margin-top: 60px;
    margin-left: 85px;
    color: $black;
    padding-top: 15px !important;
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: white;
      transition: 0.5s;
    }

    @include max-screen(320px) {
      margin-left: 45px;
    }
  }

  .main_headline {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 82px;
    line-height: 102%;
    color: #191A1C;
    margin-top: 169px;
    margin-left: 85px;
    @include max-screen(428px) {
      margin-left: 7px;
    }
    @include max-screen(390px) {
      font-size: 74px;
    }
    @include max-screen(360px) {
      font-size: 70px;
    }
    @include max-screen(320px) {
      font-size: 60px;
    }
  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #191A1C;
    width: 470px;
    margin-top: 20px;
    margin-left: 85px;
    @include max-screen(428px) {
      margin-left: 0;
      width: 400px;
    }
    @include max-screen(414px) {
      margin-left: 0;
      width: 399px;
    }
    @include max-screen(390px) {
      width: 344px;
    }
    @include max-screen(360px) {
      width: 320px;
    }
    @include max-screen(320px) {
      width: 296px;
    }
  }
}

.advanced_bottles {
  padding-top: 170px;
  padding-bottom: 200px;


  img {
    @include max-screen(768px) {
      width: 94% !important;
    }
    @include max-screen(428px) {
      width: 100% !important;
    }
  }

  .first-line {
    margin-top: 120px;
    margin-left: 10px;
    @include max-screen(820px) {
      margin-top: 12px;
    }
    @include max-screen(428px) {
      margin-left: 20px;
    }
    @include max-screen(414px) {
      margin-left: 12px;
    }
    @include max-screen(390px) {
      margin-left: 3px;
    }
  }

  .mb-10 {
    margin-bottom: 10px;
  }

  .first-img {
    @include max-screen(1024px) {
      position: relative;
      bottom: 108px;
      left: 27%;
    }
    @include max-screen(820px) {
      position: relative;
      bottom: 0;
      left: 0%;
    }
    @include max-screen(768px) {
      bottom: 686px;
      left: 97%;
    }
    @include max-screen(428px) {
      bottom: 0;
      left: 0;
    }
  }

  .second-img {
    @include max-screen(1024px) {
      position: relative;
      bottom: 471px;
      left: 130%;
    }
    @include max-screen(820px) {
      position: relative;
      bottom: 0;
      left: 0%;
    }
    @include max-screen(768px) {
      bottom: 685px;
      left: 97%;
    }
    @include max-screen(428px) {
      bottom: 0;
      left: 0;
    }
  }

  h1 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.6px;
    color: #393D46;
    margin-left: 68px;
    @include max-screen(428px) {
      margin-left: 10px;
    }
  }

  p {
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #5F6C81;
    max-width: 550px;
    margin-left: 52px;
    @include max-screen(428px) {
      margin-left: 0;
    }
  }

  .mock_up {
    margin-top: 120px;
    margin-left: 71px;
    @include max-screen(428px) {
      margin-left: 0;
    }
  }
}



