$main_font: 'Inter', sans-serif;
$secondary_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #191A1C;
$grey: #393D46;
$light_grey: #5F6C81;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.account-details {
  .head_cart{
    @include max-screen(390px){
      margin-left: -18px;
    }
    @include max-screen(360px){
      margin-left: -37px;
    }
  }
  .sign {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-decoration: none;
    text-align: center;
    color: rgba(57, 61, 70, 0.5);
    margin-left: 38px;
  }

  .guest {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #393D46;
    text-decoration: none;
    margin-left: 94px;
    @include max-screen(390px){
      margin-left: 65px;
    }
    @include max-screen(360px){
      margin-left: 97px;
    }
    @include max-screen(320px){
      margin-left: 57px;
    }
  }

  .small-line {
    margin-left: 217px;
    @include max-screen(390px){
      margin-left: 168px;
    }
    @include max-screen(360px){
      margin-left: 180px;
    }
    @include max-screen(320px){
      margin-left: 142px;
    }
  }

  .first_cart {
    max-width: 790px;
    margin-left: 37px;
    padding-bottom: 111px;
    @include max-screen(428px){
      margin-left: 23px;
    }
    @include max-screen(390px){
      margin-left: 8px;
    }
    @include max-screen(375px){
      margin-left: 4px;
    }
    @include max-screen(360px){
      margin-left: -7px;
    }
  }

  .second_cart {
    max-width: 790px;
    margin-left: 37px;
    padding-bottom: 163px;
    @include max-screen(428px){
      margin-left: 23px;
    }
    @include max-screen(390px){
      margin-left: 17px;
    }
    @include max-screen(375px){
      margin-left: 5px;
    }
    @include max-screen(360px){
      margin-left: -7px;
    }
  }

  .mr-317 {
    margin-right: 317px;
    @include max-screen(428px){
      margin-right: 232px;
    }
    @include max-screen(390px){
      margin-right: 216px;
    }
    @include max-screen(320px){
      margin-right: 182px;
    }
  }

  .mr-296 {
    margin-right: 296px;
    @include max-screen(428px){
      margin-right: 194px;
    }
  }

  .mr-324 {
    margin-right: 324px;
    @include max-screen(428px){
      margin-right: 232px;
      @include max-screen(390px){
        margin-right: 219px;
      }
      @include max-screen(320px){
        margin-right: 191px;
      }
    }
  }


  .mr-271 {
    margin-right: 271px;
    @include max-screen(428px){
      margin-right: 199px;
    }
    @include max-screen(320px){
      margin-right: 188px;
    }
  }

  .mr-256 {
    margin-right: 256px;
    @include max-screen(428px){
      margin-right: 170px;
    }
    @include max-screen(414px){
      margin-right: 161px;
    }
    @include max-screen(390px){
      margin-right: 152px;
    }
  }

  .mb-51 {
    margin-bottom: 51px;
  }

  .mb-43 {
    margin-bottom: 43px;
  }

  .mt-36 {
    margin-top: 36px;
  }

  .edit {
    margin-left: 540px;
    @include max-screen(428px){
      margin-left: 155px;
    }
  }

  .save {
    width: 715px;
    height: 48px;
    background-color: #393D46 !important;
    padding-top: 16px;
    margin-top: 55px;
    margin-bottom: 15px;
    border: #393D46;
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #393D46;
    &:hover {
      background-color: transparent!important;
      color: black !important;
      transition: 0.5s;
    }
    @include max-screen(428px){
      width: 361px;
    }
    @include max-screen(414px){
      width: 352px;
    }
    @include max-screen(390px){
      width: 338px;
    }
    @include max-screen(375px){
      width: 337px;
    }
    @include max-screen(320px){
      width: 298px;
    }
  }

  h5 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 120%;
    color: #191A1C;
  }

  .bold {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    color: #191A1C;
    @include max-screen(390px){
     font-size: 14px;
    }
  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #4C4F57;
  }

  .pr-12 {
    padding-right: 12px;
  }

  .pt {
    padding-top: 17px;
  }
;
}