$main_font: 'Inter', sans-serif;
$secondary_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #191A1C;
$grey: #393D46;
$light_grey: #5F6C81;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.products_advanced {
  img {
    @include max-screen(1024px) {
      width: 500px;
      margin-left: -17px;
      margin-top: -118px;
    }
    @include max-screen(992px) {
      width: 485px;
      margin-top: -123px;
    }
    @include max-screen(428px) {
      width: 375px;
    }
    @include max-screen(414px) {
      width: 360px;
    }
    @include max-screen(375px) {
      width: 324px;
    }
    @include max-screen(360px) {
      width: 307px;
    }
    @include max-screen(320px) {
      width: 265px;
    }
  }

  p {
    width: 422px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #5F6C81;
    @include max-screen(428px) {
      width: 345px;
    }
    @include max-screen(375px) {
      width: 299px;
    }
    @include max-screen(360px) {
      width: 270px;
    }
    @include max-screen(320px) {
      width: 246px;
    }
  }

  h2 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.6px;
    color: #393D46;
    @include max-screen(992px) {
      margin-top: 14px;
    }
  }

  .text_overall {
    margin-bottom: 370px;
  }

  .row {
    margin-left: 15px;
  }

  padding-top: 119px;
}

.advanced_vitamins {
  padding-top: 130px;
  padding-bottom: 163px;

  .d-block {
    @include max-screen(1024px) {
      width: 300px;
    }
    @include max-screen(992px) {
      width: 242px;
    }
    @include max-screen(768px) {
      width: 225px;
    }
    @include max-screen(428px) {
      width: 390px;
    }
    @include max-screen(414px) {
      width: 382px;
    }
    @include max-screen(375px) {
      width: 342px;
    }
    @include max-screen(360px) {
      width: 327px;
    }
    @include max-screen(320px) {
      width: 288px;
    }
  }

  h2 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #393D46;
  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #5F6C81;
    padding-bottom: 46px;
  }

  h4 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 120%;
    color: #393D46;
  }

  .pt130 {
    padding-top: 130px;
  }

  .container {
    max-width: 1375px;
  }

  input {
    overflow: visible;
    width: 47px;
    height: 48px;
    border: 1px solid #4C5058;
    background: #393D46;
    color: white;
    text-align: center
  }

  .numbers {
    border: 1px solid #4C5058;
    display: inline-grid;
    position: absolute;
    width: 41px;
    background: #393D46;
  }

  .up {
    height: 24px;
    padding-left: 14px;
    padding-top: 9px;
  }

  .down {
    bottom: 0;
    height: 24px;
    padding-left: 14px;
    padding-top: 9px;
  }

  a {
    width: 330px;
    height: 48px;
    background: #393D46;
    border: 1px solid #393D46;
    color: white !important;
    text-align: center;
    padding-top: 13px;
    text-decoration: none;
    &:hover {
      background-color: transparent;
      color: black !important;
      transition: 0.5s;
    }
    @include max-screen(1024px) {
      width: 218px;
    }
    @include max-screen(992px) {
      width: 156px;
    }
    @include max-screen(768px) {
      width: 140px;
    }
    @include max-screen(428px) {
      width: 302px;
      margin-bottom: 20px;
    }
    @include max-screen(414px) {
      width: 296px;
    }
    @include max-screen(375px) {
      width: 255px;
    }
    @include max-screen(360px) {
      width: 240px;
    }
    @include max-screen(320px) {
      width: 201px;
    }
  }

  input[type="number1"]::-webkit-outer-spin-button,
  input[type="number1"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


