$main_font: 'Inter', sans-serif;
$secondary_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #191A1C;
$grey: #393D46;
$light_grey: #5F6C81;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


.immunity {
  .owl-carousel .owl-item img {
    @include max-screen(428px) {
      width: 300% !important;
      display: block !important;
    }
  }

  .owl-carousel {
    @include max-screen(428px) {
      width: 100% !important;
    }
    @include max-screen(390px) {
      width: 98% !important;
    }
    @include max-screen(360px) {
      width: 97% !important;
    }
  }

  .container {
    max-width: 1240px;
  }

  height: 502px;
  margin-top: 169px;

  h1 {
    position: absolute;
    top: 111px;
    left: 55%;
    width: 398px;
    height: 60px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: $grey;
    @include max-screen(1024px) {
      left: 42%;
    }
    @include max-screen(821px) {
      top: 10%;
    }
    @include max-screen(768px) {
      left: 40%;
    }
    @include max-screen(428px) {
      top: 111px;
      left: 7%;
      width: 347px;
      font-size: 52px;
    }
    @include max-screen(360px) {
      left: 4%;
      width: 345px;
      font-size: 48px;
    }
    @include max-screen(320px) {
      font-size: 42px;
    }
  }

  p {
    width: 402px;
    height: 81px;
    top: 202px;
    left: 55%;
    position: absolute;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    color: #5F6C81;
    @include max-screen(1024px) {
      left: 42%;
    }
    @include max-screen(820px) {
      top: 37%;
    }
    @include max-screen(768px) {
      left: 40%;
    }
    @include max-screen(428px) {
      top: 202px;
      left: 7%;
      width: 347px;
      color: dimgrey;
    }
    @include max-screen(360px) {
      left: 6%;
      font-size: 16px;
      width: 328px;
    }
    @include max-screen(320px) {
      left: 6%;
      width: 288px;
      top: 45%;
    }
  }

  .buttons {
    position: absolute;
    top: 344px;
    left: 55%;
    @include max-screen(1024px) {
      top: 290px;
      left: 42%;
    }
    @include max-screen(768px) {
      left: 40%;
    }
    @include max-screen(820px) {
      top: 69%;
    }
    @include max-screen(428px) {
      top: 344px;
      left: 30px;
    }
    @include max-screen(414px) {
      left: 24px;
    }
    @include max-screen(360px) {
      top: 313px;
    }
    @include max-screen(320px) {
      top: 288px;
    }


    .buy {
      background: #393D46;
      font-family: $main_font;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      text-align: center;
      letter-spacing: 0.4px;
      color: #FFFFFF;
      padding: 16px;
      text-decoration: none;

      &:hover {
        background-color: transparent;
        color: black;
        transition: 0.5s;
      }

      @include max-screen(428px) {
        margin: 0;
      }
    }
  }

  a {
    width: 191.33px;
    height: 48px;
    border: 1px solid #393D46;
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.4px;
    color: #393D46;
    padding: 16px;
    text-decoration: none;
    @include max-screen(428px) {
      width: 182.33px;
    }
    @include max-screen(390px) {
      width: 164.33px;
    }
    @include max-screen(360px) {
      width: 150.33px;
    }
    @include max-screen(320px) {
      width: 128.33px;
    }

    &:hover {
      background-color: #393D46;
      color: white;
      transition: 0.5s;
    }
  }

  .owl-nav .owl-prev:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 17px;
    content: "\f060";
    color: black;
    background: white;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 45%;
    right: 93%;
    border-radius: 50px;
    z-index: 3;
    @include max-screen(428px) {
      visibility: hidden;
    }
  }

  .owl-nav .owl-next:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 17px;
    content: "\f061";
    color: black;
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    bottom: 45%;
    left: 93%;
    z-index: 3;
    @include max-screen(428px) {
      visibility: hidden;
    }
    @include max-screen(320px) {
      left: 90%;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 13%;
    left: 45%;
    @include max-screen(1024px) {
      bottom: 11%;
    }
    @include max-screen(820px) {
      bottom: 13%;
    }
    @include max-screen(320px) {
      left: 14% !important;
      bottom: 9% !important;
    }

    button {
      width: 46.33px;
    }

    @include max-screen(428px) {
      bottom: 13%;
      left: 21%;
    }
  }

  .owl-dot span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    border-radius: 50px;
  }

  .owl-dot.active span {
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    border: 2px solid #393D46;
    border-radius: 50px;
  }
}