$main_font: 'Inter', sans-serif;
$secondary_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #191A1C;
$grey: #393D46;
$light_grey: #5F6C81;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


.checkout_guest {
  margin-left: 27px;
  width: 790px;
  @include max-screen(1024px) {
    margin-top: 500px;
    z-index: 40;
  }
  @include max-screen(360px) {
    margin-left: 10px;
  }
  @include max-screen(360px) {
    margin-left: 4px;
  }

  h1 {

    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 120%;
    color: #191A1C;
    width: 220px;

  }

  span {
    margin-left: 164px;
    @include max-screen(320px) {
      margin-left: 125px;
    }
  }

  .delivery {
    width: 715px;
    height: 48px;
    background-color: #393D46 !important;
    padding-top: 16px;
    padding-left: 280px;
    margin-bottom: 15px;
    border: #393D46;
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
      background-color: transparent !important;
      color: $black !important;
      transition: 0.5s !important;
      border: 1px solid black;
    }
    @include max-screen(768px) {
      width: 706px;
    }
    @include max-screen(428px) {
      width: 345px;
      padding-left: 28%;
    }
    @include max-screen(390px) {
      width: 310px;
    }
    @include max-screen(320px) {
      width: 283px;
    }
  }

  .payment {
    width: 715px;
    height: 48px;
    background-color: #393D46 !important;
    padding-top: 16px;
    margin-bottom: 15px;
    border: #393D46;
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
      background-color: transparent !important;
      color: $black !important;
      transition: 0.5s !important;
      border: 1px solid black;
    }

    @include max-screen(768px) {
      width: 706px;
    }
    @include max-screen(428px) {
      width: 345px;
    }
    @include max-screen(390px) {
      width: 310px;
    }
    @include max-screen(320px) {
      width: 283px;
    }
  }

  .form-group {
    margin-top: 30px;
    @include max-screen(320px) {
      margin-left: -2px;
    }
  }

  .sign {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-decoration: none;
    text-align: center;
    color: #393D46;
    z-index: 20;
  }

  .guest {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: rgba(57, 61, 70, 0.5);
    text-decoration: none;
    margin-left: 94px;
    @include max-screen(320px) {
      margin-left: 55px;
    }
  }

  #exampleFormControlSelect1 {
    width: 335px;
    height: 48px;
    background: #FDFEFE;
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    color: #4C4F57;
    border: 1px solid #D2D4DA;
    appearance: none;
    background: url("/images/arrow_down_grey.svg") no-repeat right;
    background-position-x: calc(100% - 8px);
    @include max-screen(390px) {
      width: 310px;
    }
    @include max-screen(320px) {
      width: 280px;
    }
  }

  input {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #4C4F57;
  }

  label {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    color: #191A1C;
    width: 200px
  }

  .form-control {
    width: 335px;
    height: 48px;
    left: 125px;
    top: 429px;
    background: #FDFEFE;
    border: 1px solid #D2D4DA;
    @include max-screen(1024px) {
      width: 316px;
    }
    @include max-screen(428px) {
      width: 340px;
    }
    @include max-screen(390px) {
      width: 310px;
    }
    @include max-screen(320px) {
      width: 280px;
    }
  }

  .last-name {
    position: relative;
    left: 274px;
    @include max-screen(428px) {
      left: 2px;
    }
  }

  .province {
    position: relative;
    left: 284px;
    @include max-screen(428px) {
      left: 2px;
    }

    #inputState {
      appearance: none;
      background: url("/images/arrow_down_grey.svg") no-repeat right;
      background-position-x: calc(100% - 8px)
    }
  }

  .address {
    width: 710px !important;
    @include max-screen(768px) {
      width: 680px !important;
    }
    @include max-screen(428px) {
      width: 337px !important;
    }
    @include max-screen(390px) {
      width: 310px !important;
    }
    @include max-screen(320px) {
      width: 280px !important;
    }
  }

  .phone-number {
    position: relative;
    left: 345px;
    @include max-screen(428px) {
      left: 2px;
    }
  }

  .delivery_pay {
    input[type='radio']::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 14px;
      background: #FDFDFE;
      border: 1px solid #393D46;
      border-radius: 40px
    }

    input[type='radio']:checked::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: visible;
      width: 6px;
      height: 6px;
      background: #393D46;
      border-radius: 40px;
    }


    padding-top: 97px;
    padding-bottom: 584px;

    .w-249 {
      width: 249px;
    }

    label {
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 120%;
      color: rgba(57, 61, 70, 0.9);
      padding-bottom: 57px;
    }
  }

  .border-top {
    width: 710px;
    @include max-screen(768px) {
      width: auto;
    }
  }

  .form-check {
    padding-top: 29px;
  }
}

.shop_cart_guest {
  margin-left: 234px;
  @include max-screen(1024px) {
    margin-left: 114px;
    right: 84%;
  }
  @include max-screen(820px) {
    right: 105%;
  }
  @include max-screen(768px) {
    right: 113%;
  }
  @include max-screen(428px) {
    right: 119%;
  }
  @include max-screen(414px) {
    right: 124%;
  }
  @include max-screen(390px) {
    right: 123%;
  }
  @include max-screen(360px) {
    right: 131%;
  }
  @include max-screen(320px) {
    right: 138%;
  }


  .shop_cart {
    margin-left: 125px;
    left: 5%;


    p {
      font-family: $main_font;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 120%;
      color: #191A1C;
    }

    h4 {
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 120%;
      color: #393D46;

    }

    a {
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 120%;
      color: rgba(57, 61, 70, 0.9);
    }

    .trash {
      margin-left: 35px;
    }

    .text-orange {
      color: orangered;
    }

    h5 {
      position: absolute;
      left: 100%;
      top: -2%;
      width: 169px;
      font-family: $main_font;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 120%;
      color: #393D46;
    }
  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    color: #191A1C;
  }

  h4 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #393D46;

  }

  a {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: rgba(57, 61, 70, 0.9);
  }

  .trash {
    margin-left: 35px;
  }

  .prices_group {
    position: relative;
    left: 330px;
    bottom: 126px;
    line-height: 10px;
    @include max-screen(428px) {
      left: 298px;
    }
    @include max-screen(414px) {
      left: 290px;
    }
    @include max-screen(390px) {
      left: 268px;
    }
    @include max-screen(360px) {
      left: 245px;
    }
    @include max-screen(320px) {
      left: 200px;
    }

    .head-price {
      margin-left: -7px !important;
    }
  }

  .text-orange {
    color: orangered;
  }

  h5 {
    position: absolute;
    left: 100%;
    top: -2%;
    width: 169px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #393D46;
  }
}

.shop_head {
  margin-left: 227px;
}

.mt-5 {
  margin-top: 32px
}


.def-number-input {
  position: relative;
  left: 108%;
  bottom: 27px;
  width: 97px;
}

.qt1 {
  position: absolute;
  left: 100px;
  top: 10%;
  width: 46px;
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: rgba(57, 61, 70, 0.6);
}

.qt2 {
  top: 20px;
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: rgba(57, 61, 70, 0.6);
}

.text-decoration-none {
  position: relative;
  top: -22px;
  left: 27px;
}

.line-through {
  text-decoration: line-through;
  font-family: $main_font !important;;
  font-style: normal !important;;
  font-weight: 400 !important;;
  font-size: 13px !important;;
  color: rgba(57, 61, 70, 0.8) !important;;
  text-align: center;
  margin-right: 40px;
}


.info_column {
  position: absolute;
  top: 69px;
  left: -108%;
  display: grid;
  line-height: 37px;

  span {
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #393D46;
    line-height: 35px;
  }
}

.total {
  font-family: $secondary_font !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 23px !important;
  line-height: 120% !important;
  color: #191A1C !important;
  position: relative;
  right: 30px;
}

.total_word {
  font-family: $secondary_font !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 23px !important;
  line-height: 120% !important;
  color: #191A1C !important;
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {

    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -.3rem;
    }
  }
}

.shop_guest {
  margin-left: 125px;
  right: 34%;
  top: 140px;
  @include max-screen(1024px) {
    margin-left: 125px;
    right: 132%;
    top: 140px;
  }
  @include max-screen(992px) {
    right: 134%;
  }
  @include max-screen(820px) {
    right: 166%;
  }
  @include max-screen(768px) {
    right: 178%;
  }
  @include max-screen(428px) {
    right: 240%;
  }
  @include max-screen(414px) {
    right: 245%;
  }
  @include max-screen(390px) {
    right: 250%;
  }
  @include max-screen(360px) {
    right: 258%;
  }
  @include max-screen(320px) {
    right: 283%;
  }


  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    color: #191A1C;
  }

  h4 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #393D46;

  }

  a {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: rgba(57, 61, 70, 0.9);
  }

  .trash {
    margin-left: 35px;
  }

  .prices_group {
    position: relative;
    left: 330px;
    bottom: 126px;
    line-height: 10px;
    @include max-screen(428px) {
      left: 299px;
    }
    @include max-screen(414px) {
      left: 294px;
    }
    @include max-screen(390px) {
      left: 276px;
    }
    @include max-screen(360px) {
      left: 239px;
    }
    @include max-screen(320px) {
      left: 200px;
    }


    .low-price {
      margin-left: 8px !important;
    }
  }

  .text-orange {
    color: orangered;
  }

  .orange-price {
    margin-left: 5px;
  }

  h5 {
    position: absolute;
    left: 100%;
    top: -2%;
    width: 169px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #393D46;
  }
}





