$main_font: 'Inter', sans-serif;
$secondary_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #191A1C;
$grey: #393D46;
$light_grey: #5F6C81;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


.sign_section {
  margin-bottom: 362px;
}

.checkout {
  margin-left: 27px;

  #exampleInputEmail1 {
    width: 340px;
    height: 48px;
    background: #FDFEFE;
    border: 1px solid #D2D4DA;
  }

  #exampleInputPassword1 {
    width: 340px;
    height: 48px;
    background: rgba(255, 255, 255, 0.82);
    border: 1px solid #D2D4DA;
    @include max-screen(375px) {
      margin-left: 13px;
    }
  }

  #exampleInputPassword2 {
    width: 340px;
    height: 48px;
    background: rgba(255, 255, 255, 0.82);
    border: 1px solid #D2D4DA;
    @include max-screen(428px) {
      width: 181px;
      margin-left: 14px;
    }
    @include max-screen(414px) {
      width: 169px;
    }
    @include max-screen(375px) {
      width: 145px;
    }
    @include max-screen(375px) {
      width: 134px;
    }
  }

  #exampleInputEmail2 {
    width: 340px;
    height: 48px;
    background: #FDFEFE;
    border: 1px solid #D2D4DA;
    @include max-screen(428px) {
      width: 180px;
    }
    @include max-screen(414px) {
      width: 165px;
    }
    @include max-screen(375px) {
      width: 145px;
    }
  }

  .form-check-label {
    margin-left: 20px;
  }

  .form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 0px;
  }

  .sign_in {
    width: 715px;
    height: 48px;
    background-color: #393D46 !important;
    padding-left: 43%;
    margin-bottom: 15px;
    border: #393D46;
    &:hover {
      background-color: transparent!important;
      color: black !important;
      transition: 0.5s!important;
      border: 1px solid black;
    }
    @include max-screen(768px){
      width: 699px;
    }
    @include max-screen(428px) {
      width: 366px;
      text-align: center !important;
      margin-bottom: 15px;
      border: #393D46;
    }
    @include max-screen(414px) {
      width: 333px;
    }
    @include max-screen(375px) {
      width: 295px;
    }
  }

  .create {
    width: 715px;
    height: 48px;
    border: 1px solid #9C9EA3 !important;
    color: $black;
    background-color: transparent !important;
    margin-bottom: 236px;
    &:hover {
      background-color: $grey!important;
      color: white !important;
      transition: 0.5s!important;
    }
    @include max-screen(768px){
      width: 699px;
    }
    @include max-screen(428px) {
      width: 367px;
    }
    @include max-screen(414px) {
      width: 332px;
    }
    @include max-screen(375px) {
      width: 293px;
    }
  }

  .form-group {
    margin-top: 30px;
  }

  .sign {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-decoration: none;
    text-align: center;
    color: #393D46;
  }

  .guest {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: rgba(57, 61, 70, 0.5);
    text-decoration: none;
    margin-left: 94px;
  }

  .forgot {
    margin-left: 0%;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: right;
    letter-spacing: 0.4px;
    color: #191A1C;
    @include max-screen(428px) {
      letter-spacing: 0.0px;
      position: relative;
      left: 16%;
    }
  }

  .email_group {
    margin-left: 170px !important;
    @include max-screen(428px) {
      margin-left: 72px !important;
    }
    @include max-screen(414px) {
      margin-left: 65px !important;
    }
  }
}

.shop_cart {
  margin-left: 125px;
  left: 5%;
  @include max-screen(1024px) {
    left: -85%;
    margin-top: 333px;
  }
  @include max-screen(820px){
    left: -105%;
  }
  @include max-screen(768px){
    left: -111%;
  }
  @include max-screen(428px) {
    left: -129%;
    top: 336px;
    margin-top: 43px;
  }
  @include max-screen(414px) {
    left: -120%;
  }
  @include max-screen(375px) {
    left: -129%;
  }
  @include max-screen(360px) {
    left: -134%;
  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    color: #191A1C;
  }

  h4 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #393D46;

  }

  a {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: rgba(57, 61, 70, 0.9);
  }

  .trash {
    margin-left: 35px;
  }

  .prices_group {
    position: relative;
    left: 330px;
    bottom: 126px;
    line-height: 10px;
    @include max-screen(428px) {
      left: 306px;
    }
    @include max-screen(414px) {
      left: 277px;
    }
    @include max-screen(375px) {
      left: 260px;
    }
    @include max-screen(360px) {
      left: 243px;
    }

    .low-price {
      margin-left: 8px !important;
    }

    .head-price {
      margin-left: -7px !important;
    }
  }

  .text-orange {
    color: orangered;
  }

  .orange-price {
    margin-left: 5px;
  }

  h5 {
    position: absolute;
    left: 100%;
    top: -2%;
    width: 169px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #393D46;
  }
}

.shop_head {
  margin-left: 227px;
  @include max-screen(414px) {
    margin-left: 207px !important;
  }
  @include max-screen(375px) {
    margin-left: 190px !important;
  }
  @include max-screen(360px) {
    margin-left: 171px !important;
  }
}

.mt-5 {
  margin-top: 32px
}


.def-number-input {
  position: relative;
  left: 108%;
  bottom: 27px;
  width: 97px;
}

.qt1 {
  position: absolute;
  left: 100px;
  top: 10%;
  width: 46px;
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: rgba(57, 61, 70, 0.6);
}

.qt2 {
  top: 20px;
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: rgba(57, 61, 70, 0.6);
}

.text-decoration-none {
  position: relative;
  top: -22px;
  left: 27px;
  @include max-screen(428px) {
    top: 0 !important;
    left: -3px !important;
  }

}

.line-through {
  text-decoration: line-through;
  font-family: $main_font !important;;
  font-style: normal !important;;
  font-weight: 400 !important;;
  font-size: 13px !important;;
  color: rgba(57, 61, 70, 0.8) !important;;
  text-align: center;
  margin-right: 40px;
}


.second_column {
  left: -29%;
  bottom: -144px;
  @include max-screen(1024px) {
    left: -134%;
  }
  @include max-screen(992px){
    left: -135%;
  }
  @include max-screen(820px){
    left: -166%;
  }
  @include max-screen(768px){
    left: -176%;
  }
  @include max-screen(428px) {
    left: -249%;
    top: 482px;
  }
  @include max-screen(414px) {
    left: -240%;
    top: 482px;
  }
  @include max-screen(375px) {
    left: -258%;
  }
  @include max-screen(360px) {
    left: -263%;
  }
}

.info_column {
  position: absolute;
  top: 69px;
  left: -81%;
  display: grid;
  line-height: 37px;

  span {
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #393D46;
    line-height: 35px;
  }
}

.total {
  font-family: $secondary_font !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 23px !important;
  line-height: 120% !important;
  color: #191A1C !important;
  position: relative;
  right: 30px;
}

.total_word {
  font-family: $secondary_font !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 23px !important;
  line-height: 120% !important;
  color: #191A1C !important;
}


.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  text-align: center;
}


.number-input.number-input button {

  height: .7rem;
}


.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}

.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: none;

  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {

    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -.3rem;
    }
  }
}




