.contacts {
  padding-top: 119px;
  padding-bottom: 163px; }
  .contacts h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.6px;
    color: #393D46;
    padding-left: 90px; }
  .contacts p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #5F6C81;
    max-width: 409px;
    padding-left: 90px; }
  .contacts img {
    padding-left: 32px; }
