$main_font: 'Inter', sans-serif;
$secondary_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #191A1C;
$grey: #393D46;
$light_grey: #5F6C81;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

header {
  background-color: $white;
  padding-top: 17px;
  padding-bottom: 40px;

  li {
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4C4F57;
  }

  .dropdown-item {
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4C4F57;
  }

  .select {
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4C4F57;
    @include max-screen(991px) {
      visibility: hidden;
    }
  }

  .shop {
    position: relative;
    background: #42E8FF;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -25px;
    left: 77px;
  }

  span {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    left: 5px;
    bottom: 0px;
    color: white;
  }

  .navbar-toggler {
    @include max-screen(428px) {
      margin-top: -24px;
      margin-left: 180px;
    }
    @include max-screen(320px) {
      margin-top: -113px;
      margin-left: 228px;
    }
  }
}


