$main_font: 'Inter', sans-serif;
$secondary_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #191A1C;
$grey: #393D46;
$light_grey: #5F6C81;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


.privacy {
  max-width: 1030px;
  margin-left: 30px;
  .main_headline{
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.6px;
    color: #393D46;
  }
  h1 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 160%;
    color: #5F6C81;
    padding-bottom: 30px;
  }
  h2{
    font-family: $main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 160%;
    color: #5F6C81;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  h3{

    font-family: $main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #5F6C81;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  p{
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #5F6C81;

  }
}

