$main_font: 'Inter', sans-serif;
$secondary_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #191A1C;
$grey: #393D46;
$light_grey: #5F6C81;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.products {
  padding-top: 161px;
  padding-bottom: 170px;

  .primary_button {
    width: 191.33px !important;
    height: 48px !important;
    border: 1px solid #393D46 !important;
    padding: 16px !important;
    text-decoration: none !important;
    font-family: $main_font;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 120% !important;
    text-align: center !important;
    letter-spacing: 0.4px !important;
    color: #393D46 !important;
    @include max-screen(1024px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @include max-screen(428px) {
      margin-top: 41px;
    }
    @include max-screen(390px) {
      margin-left: 80px;
    }
    @include max-screen(360px) {
      margin-top: 54px;
    }
    @include max-screen(320px) {
      margin-top: 85px;
      margin-left: 47px;
    }
  }

  .container {
    max-width: 1270px;
  }

  .new_price {
    width: 60px;
    height: 20px;
    left: 85px;
    top: 2346px;
    font-family: $secondary_font;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 120%;
    text-align: center;
    color: #191A1C;
  }

  .price_before {
    font-family: $secondary_font;
    width: 47px;
    height: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-decoration-line: line-through;
    color: rgba(57, 61, 70, 0.8);
  }

  a {
    width: 191.33px;
    height: 48px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.4px;

    &:hover {
      background-color: #393D46;
      color: white !important;
      transition: 0.5s;
    }

    @include max-screen(428px) {
      margin-left: 108px;
      margin-top: 35px;
      margin-bottom: 13px;
    }
  }

  h4 {
    width: 159px;
    height: 46px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 120%;
    color: #393D46;
  }

  .products_headline {
    width: 460px;
    height: 18px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #5F6C81;
    @include max-screen(428px) {
      font-size: 13px;
      width: 399px;
    }
    @include max-screen(390px) {
      font-size: 12px;
      width: 357px;
    }
    @include max-screen(360px) {
      width: 330px;
    }
    @include max-screen(320px) {
      width: 286px;
    }
  }

  h2 {
    width: 123px;
    height: 43px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.6px;
    color: #393D46;
  }

  p {

    height: 72px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #5F6C81;
  }
}
