$main_font: 'Inter', sans-serif;
$secondary_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #191A1C;
$grey: #393D46;
$light_grey: #5F6C81;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.vitamins {
  .container {
    max-width: 1270px;
  }

  .owl-carousel .owl-item img {
    @include max-screen(428px) {
      width: 35%;
    }
  }

  a {
    height: 24px;
    left: 85px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration-line: underline !important;
    color: #5F6C81;
    &:hover {
      color:  #42E8FF;
    }
  }

  h4 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 120%;
    color: #393D46;
  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #5F6C81;
    @include max-screen(428px) {
      font-size: 11px;
    }
  }

  h2 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #393D46;
  }

  .owl-nav .owl-prev:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 17px;
    content: "\f060";
    color: #4C4F57;
    position: absolute;
    right: 8%;
    bottom: 90%;
    z-index: 3;
    @include max-screen(428px) {
      right: 89%;
      visibility: hidden;
    }
  }

  .owl-nav .owl-next:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 17px;
    content: "\f061";
    color: #4C4F57;
    position: absolute;
    bottom: 90%;
    left: 97%;
    z-index: 3;
    @include max-screen(428px) {
      left: 90%;
      visibility: hidden;
    }
    @include max-screen(320px) {
      left: 90%;
    }
  }
}